data/raw/
data/processed/
*.csv
*.xlsx

.ipynb_checkpoints/
**/.ipynb_checkpoints/

__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

.env
kaggle.json

.DS_Store
Thumbs.db

.streamlit/secrets.toml

models/*.joblib
!models/.gitkeep

tests_tmp/
