# Core
pandas
numpy
matplotlib
seaborn
jupyterlab
openpyxl

# Modeling
scikit-learn
lightgbm
xgboost
shap
holidays
scipy

# API
fastapi
uvicorn
joblib
pydantic

# DB
psycopg2-binary
sqlalchemy

# Dashboard
streamlit
plotly
