datasets==2.19.0
transformers==4.40.0
torch==2.2.0
scikit-learn==1.4.2
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
pydantic==2.7.1
ydata-profiling
dvc==3.49.0
dvc-gdrive==3.0.1
mlflow==2.12.1
wandb
onnx==1.16.0
onnxruntime==1.17.3
optimum==1.19.1
fastapi==0.111.0
uvicorn==0.29.0
PyYAML==6.0.1
