datasets==2.19.0
transformers==4.40.0
torch==2.2.0
sentence-transformers==2.7.0
qdrant-client==1.9.1
rank-bm25==0.2.2
llama-index==0.10.36
ragas==0.1.7
prefect==2.19.3
psycopg2-binary==2.9.9
google-genai
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
pydantic==2.7.1
ydata-profiling==4.8.3
fastapi==0.111.0
uvicorn==0.28.1
mlflow==2.13.0
PyYAML==6.0.1
dvc==3.49.0
dvc-gdrive==3.0.1
pytest==8.2.0
