transformers==4.40.0
datasets==2.19.0
torch==2.2.0
peft==0.10.0
trl==0.8.6
bitsandbytes==0.43.1
accelerate==0.29.3
wandb==0.17.0
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4
seaborn==0.13.2
pydantic==2.7.1
PyYAML==6.0.1
pytest==8.2.0
dvc==3.49.0
dvc-gdrive==3.0.1
mlflow==2.13.0
ydata-profiling==4.7.0
scikit-learn==1.4.2
google-genai==1.5.0
